[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "liquidprompt"]
	path = liquidprompt
    url = https://github.com/nojhan/liquidprompt
[submodule "zsh-autosuggestions"]
	path = zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
